# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Node modules (if any)
node_modules/

# Build dirs
dist/
build/

# Secrets
.env
