flask==3.0.0
flask-cors==4.0.0
gunicorn==21.2.0
torch
torchaudio
soundfile
omegaconf
epitran
audioread
requests
dtwalign
eng_to_ipa
pandas
transformers
sentencepiece
SpeechRecognition==3.10.0
gtts==2.5.0
pydub==0.25.1
